#user-header {
  display: flex;
  height: 400px;
  width: 100%;
  background-image: url("/images/brick-wall-dark.png");
  background-color: orange;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

@media (min-width: 1024px) {

  .main-container {
    display: flex;
    justify-content: space-around;
  }
  #user-header {
    width: 33%;
    max-width: 31rem;
    margin-right: 5%;
    margin-top: 98px;
    margin-left: 55px;
  }
  .container {
    display: flex;
    width: 100%;
  }
}