.new-tweet {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* border: solid thin white; */
  /* width: 77%; */
  margin-left: 45px;
  
}

button {
  display: flex;
  align-items: center;
  font-family: 'Bungee', sans-serif;
  /* border: solid thin white; */
  background: #4056A1;
  color: #ffffff;
}

.button {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  /* border: solid thin white; */
}


#tweet-text {
  border-style: hidden;
  border-bottom: 5px solid  #545149;
  font-weight: 600; 
  line-height: 1;
  /* width: 157%; */
}
  

form {
  display: flex;
  flex-direction: column;
  /* width: 75%; */
  /* border: solid thin white; */
  /* justify-content: space-between; */
  /* margin-top: 5px; */
  /* flex-direction: column; */
}

.counter {
  font-family: 'Bungee', sans-serif;
  float: right;
  padding-left: 117%;  
  /* border: solid thin white; */
}

.new-tweet p {
  display: none;
  margin: 1rem 0;
  color: red;
  font-size: 2rem;
  border: solid thick red;
  text-align: center;
  margin-left: 50%;
  background-color: grey;
  border-radius: 11px;
}

#fetch-tweets:hover {
  box-shadow: 5px 10px lightskyblue;
}

img {
  padding-top: 50px;
}

/* Media queries */
@media (min-width: 1024px) {
  .tweet-text {
    width: 100%;
  }
}
