#tweet-feed {
  border-width: thick;
  padding-left: 35px;
  padding-right: 53px; 
}

.tweet-info {
  display: flex;
  border: solid medium black;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

.tweet-info:hover {
  box-shadow: 5px 10px lightskyblue;
}

.tweet-info header {
  display: flex;
  justify-content: space-between;
}

.borderline {
  border-top: solid medium black;
  width: 98%;
  align-self: center;
  justify-content: center;
}

.tweet-left {
  line-height: 10px;
  position: relative;
  bottom: 20px;
}

.tweet-l {
  margin-left: 15px;
  margin-top: 15px;
}

.tweet-icon {
  display: flex;
  justify-content: flex-end;
  padding: 0 0.5em;
  bottom: 25px;
  right: 25px;;
}

p {
  text-align: start;
  font-size: 15px;
  margin-left: 25px;
  font-family: 'Times New Roman';
  font-weight: 700;
}

.tweet-bot {
  font-size: 12px;
  margin-left: 30px;
  font-family: 'Source Sans Pro';
  font-weight: 700;
}

.tweet-r {
  color: lightblue;
  margin-top: 20px;
  margin-right: 20px;
}


.tweet__footer {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-bottom: 12px;
  padding-top: 12px;
}

.flag-icon:hover, .repost-icon:hover, .heart-icon:hover {
  transform:scale(1.2);
}

/* Media queries */
@media (min-width: 1024px) {
  .tweet-icon {
    display: flex;
  }
}